.wrapper .container {
    max-width: 80rem;
}

.prediction {
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.prediction.green {
  color: #fafafa;
  background-color: #689f38;
}
.prediction.yellow {
  background-color: #ffca28;
}
.prediction.red {
  color: #fafafa;
  background-color: #b71c1c;
}

h1.title {
  text-align: center;
  margin: 60px auto 30px auto;
}

form {
  text-align: center;
}
.form-errors {
  box-sizing: border-box;
  padding: var(--universal-padding);
}
.form-errors .warning {
  background-color: #ffca28;
  margin: 5px 0 5px 0;
  padding: 5px;
}

#about {
  text-align: center;
}
