.wrapper .container {
    max-width: 80rem;
}

.alert {
  display: block;
  clear: both;
}

.prediction {
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.prediction.green {
  color: #fafafa;
  background-color: #689f38;
}
.prediction.yellow {
  background-color: #ffca28;
}
.prediction.red {
  color: #fafafa;
  background-color: #b71c1c;
}

h1.title {
  text-align: center;
  margin: 60px auto 30px auto;
}
