<!DOCTYPE html>
<html>

<head>
  <title>Would You Survive the Titanic?</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main class="wrapper">
    <div class="container">
      <div class="row">
        <h1 class="title">Would You Survive the Titanic?</h1>
      </div>

      {% block content %}
        <form method=post>
          <div class="row">
            {% if prediction %}
              <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <div class="prediction {{ status }}">
                  You would have a {{ prediction }}% chance of surviving Titanic!
                </div>
              </div>
            {% endif %}

            {% if form.errors %}
              <div class="form-errors col-md-12 col-lg-8 col-lg-offset-2">
                {% for field, errors in form.errors.items() %}
                  <div class="warning col-sm-12">
                      {{ form[field].label }}{{ ', '.join(errors) }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div class="col-md-12 col-lg-8 col-lg-offset-2">
              <fieldset>
                {% for field in form %}
                  {% if field.type != 'SubmitField' %}
                    <div class="row responsive-label"><div class="col-sm-12">
                      {{ field.label() }}
                      {{ field() }}
                    </div></div>
                  {% endif %}
                {% endfor %}
              </fieldset>

              {{ form.submit(class_ = "primary") }}
            </div>
          </div>
        </form>

        <div class="row" id="about">
          <div class="col-md-12 col-lg-8 col-lg-offset-2">
            <h2>About</h2>
            Created by <a href="https://github.com/m1n0" target="_blank">m1n0</a>.<br />
            A demonstration of a <a href="https://www.kaggle.com/c/titanic" target="_blank">Kaggle exercise</a>, this model predicts with ~80% accuracy.<br />
            Read more at <a href="http://justsomegeek.com" target="_blank">my blog</a>.<br />
          </div>
        </div>
      {% endblock %}

    </div>
  </main>
</body>
</html>
